/* 提示框的样式 */
#notification {
    display: none; /* 默认隐藏 */
    height: 10px; /* 调整高度以适应内容 */
    position: fixed; /* 固定位置 */
    bottom: 10px; /* 固定在底部 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    background-color: black; /* 黑色背景 */
    color: white; /* 白色文字 */
    padding: 10px 20px; /* 内边距 */
    border-radius: 0px; /* 圆角 */
    z-index: 1000; /* 确保在最上层 */
    font-size: 16px; /* 字体大小 */
    border-bottom: 2px solid black; /* 添加边框 */
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75); /* 调整box-shadow以适应底部 */
    animation: fadeInUp 0.1s ease-out forwards, fadeOutDown 0.1s ease-in forwards 2s;
    text-align: center; /* 文字水平居中 */
    line-height: 10px; /* 使文字垂直居中，值应等于height */
}

/* 从下方渐显出现的动画 */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

/* 向下移动渐隐消失的动画 */
@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }
}
