@font-face {
    font-family: 'Minecraft';
    src: url('mc1.otf') format('opentype'); /* 将 truetype 改为 opentype，如果字体格式是 opentype 的话 */
    font-weight: normal;
    font-style: normal;
}


.pushdown-button:disabled {   
    transform: translateY(4px);
    background-color: #3c8527;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: Minecraft;
    text-shadow: 2px 2px rgba(35,35,35,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    position: relative; /* 添加这行代码 */
}

.pushdown-button:disabled::after {
    content: '';
    width: 50px; /* 横线的长度 */
    height: 2px; /* 横线的高度 */
    background-color: white; /* 横线的颜色 */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pushdown-button:enabled:active {
    box-shadow: none;
    transform: translateY(4px);
}


.pushdown-button:enabled {
    background-color: #d0d0d4; 
    border: 2px solid #ffffff; 
    box-shadow: 0 4px #656568; 
    padding: 10px 20px; 
    color: black; 
    font-size: 16px; 
    cursor: pointer; 
    font-family: Minecraft;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    
}

.pushdown-button:enabled:hover {
    background-color: #b1b2b5;
}

.create_button {
    background-color: #3c8527;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px #275719;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: Minecraft;
    text-shadow: 2px 2px rgba(35,35,35,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
}

.create_button:hover {
    background-color: #367622; 
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.create_button:enabled:active {
    background-color: #295a1a; /* 可以根据需要选择是否改变背景色 */
    box-shadow: none; /* 去除阴影 */
    transform: translateY(4px); /* 向下移动等于阴影的高度 */
}

.create_button:disabled {
    background-color: #b9b9b9;
    box-shadow: 0px 4px #7b7b7b;
    text-shadow: none;
    color: #565656;
    border: none;
}

.create_button:disabled:active {
    background-color: #b9b9b9;
    box-shadow: 0px 4px #7b7b7b;
    text-shadow: none;
    color: #565656;
    border: none;
}

.realm_button {
    background-color: #7345e5; 
    border: 2px solid #9858f3; 
    box-shadow: 0 4px #492c91; 
    padding: 10px 20px; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    font-family: Minecraft;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
}

.realm_button:hover {
    background-color: #5530b3; 
    border: 2px solid #964ffa;
}

.realm_button:enabled:active {
    background-color: #402091; /* 可以根据需要选择是否改变背景色 */
    box-shadow: none; /* 去除阴影 */
    transform: translateY(4px); /* 向下移动等于阴影的高度 */
}

.realm_button:disabled {
    background-color: #b9b9b9;
    box-shadow: 0px 4px #7b7b7b;
    color: #565656;
    border: none;
}

.realm_button:disabled:active {
    background-color: #b9b9b9;
    box-shadow: 0px 4px #7b7b7b;
    color: #565656;
    border: none;
}

.simple_button {
    background-color: #d0d0d4; 
    border: 2px solid #ffffff; 
    box-shadow: 0 4px #656568; 
    padding: 10px 20px; 
    color: black; 
    font-size: 16px; 
    cursor: pointer; 
    font-family: Minecraft;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
}

.simple_button:hover {
    background-color: #b1b2b5; 
}

.simple_button:enabled:active {
    background-color: #b1b2b5; /* 可以根据需要选择是否改变背景色 */
    box-shadow: none; /* 去除阴影 */
    transform: translateY(4px); /* 向下移动等于阴影的高度 */
}

.simple_button:disabled {
    background-color: #b9b9b9;
    box-shadow: 0px 4px #7b7b7b;
    color: #565656;
    border: none;
}

.simple_button:disabled:active {
    background-color: #b9b9b9;
    box-shadow: 0px 4px #7b7b7b;
    color: #565656;
    border: none;
}

.warn_button {
    background-color: #ca3636; 
    border: 2px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px #a82525; 
    padding: 10px 20px; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    font-family: Minecraft;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
}

.warn_button:hover {
    background-color: #ba2c2c; 
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.warn_button:enabled:active {
    background-color: #a11d1d; /* 可以根据需要选择是否改变背景色 */
    box-shadow: none; /* 去除阴影 */
    transform: translateY(4px); /* 向下移动等于阴影的高度 */
}

.warn_button:disabled {
    background-color:#b9b9b9;
    box-shadow: 0px 4px #7b7b7b;
    color: #565656;
    border: none;
}

.warn_button:disabled:active {
    background-color: #b9b9b9;
    box-shadow: 0px 4px #7b7b7b;        
    color: #565656;
    border: none;
}

/* 添加媒体查询以适应不同屏幕大小 */
@media (max-width: 768px) {
    .create_button, .realm_button, .simple_button, .warn_button {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .create_button, .realm_button, .simple_button, .warn_button {
        width: 50%;
        box-sizing: border-box;
        padding: 10px 15px;
    }
}
.input-box {
    width: 30vw; /* 宽度为视口宽度的30% */
    height: calc(30vw / 20); /* 高度为宽度的1/5 */
    padding: 10px 15px;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 -5px 0 rgb(26, 26, 26);  /* 原始顶部阴影 */
    border: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-family: Minecraft;
}
